body {
    margin: -8px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./images/order\ background.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    background-color: #c5d0ff;
    padding: 10px 0;
    height: 60px;
}

nav ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: justify; 
    margin: 20px;
}

nav ul.navbar li {
    float: left;
    margin: 0;
    padding: 0;
    text-decoration-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

nav ul.navbar li a {
    background-color:#c5d0ff; /* Button background color */
    color: rgb(253, 253, 253); /* Text color of the links */
    text-align: left;
    display: block;
    padding: 8px;
    text-decoration: none;
    margin-right: 20px; /* Space between buttons */
    border-radius: 5px; /* Rounded corners for buttons */
}

nav ul.navbar li a:hover {
    background-color: #c5d0ff; /* Background color of the links on hover */
    transform: scale(1.3);
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(216, 216, 216);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product img {
    max-width: 250px;
    margin-right: 20px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

label {
    font-weight: bold;
    flex-grow: 1;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.place-order-button {
    background-color: rgb(112, 126, 204);
    color: #fff;
    cursor: pointer;
    width: 100%;
}

h1 {
    text-align: center;
    color: #5c6cb3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
    display: grid;
    gap: 10px;
}

.radio-group {
    display: grid;
    gap: 5px;
}

footer {
    background-color: #c5d0ff;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left,
.footer-right {
    flex-basis: 48%;
}

.footer-right {
    text-align: center;
}